@font-face {
    font-family: 'Trud Type';
    src: url('/trudtype-bold-trial--webfont.woff2') format('woff2'),
         url('/trudtype-bold-trial--webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Progress */

.sp-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 75%;
	left: 40%;
}
.sp-wrapper svg circle {
    stroke: #36383f;
    stroke-width: 1px;
}
.sp-wrapper svg .sp-progress {
    stroke-width: 3px;
    transition: .1s;
    stroke: #fff;
    opacity: 0.5;
}
.sp-container {
    position: relative;
    display: block;
    margin: auto;
    height: 90px;
    width: 90px;
}
.sp-container:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: attr(data-scroll);
    border-radius: 50%;
    color: #36383f;
}

/* Progress Two */

.sp-progress {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px; left: 0px;
	z-index: 1;
  }
  
  .sp-progress > div {
	height: 100%;
	width: 0%;
	border-right: 5px solid #c6e421;
	opacity: 0.2;
  }

/* Cursor */

.cursor {
	position: fixed;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	border-radius: 50%;
	border: 2px solid #FF9900;
	transition: 0.3s;
	
	pointer-events: none;
	z-index: 3000;
  }
  .cursor2 {
	position: fixed;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #fff;
	transition: 0.1s;
	pointer-events: none;
	z-index: 3000;
  }
  
  .grow,
  .grow-small {
	transform: scale(4);
	background: white;
	mix-blend-mode: difference;
	border: none;
  }
  
  .grow-small {
	transform: scale(2);
  }
  

/* Content */

.container {
	margin: 0;
	padding: 40px 30px;
	height: 100vh;
	color: #fff;
	background-color: #000;
	font-family: "Trud Type", Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 1.2;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}

header {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.header__button {
    position: fixed;
	z-index: 2;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #c6e421;
	border: 0;
	position: absolute;
	right: 0;
	top: -18px;
	margin: 20px;
	outline: none;
	animation-duration: 300ms;
	animation-timing-function: ease;
	cursor: none;
}

.header__button[data-open="true"] {
	background-color: #000;
	animation-name: scale;
}

.header__button[data-open="false"] {
	transition: background-color 250ms linear;
}

@keyframes scale {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(100%);
	}
}

.ch {
	font-size: 10rem;
	font-weight: normal;
	margin: 0;
  	text-align: center;
	text-transform: uppercase;
	top: 100px;
}

.reveal_con {
	max-width: 960px;
	height: 60%;
	padding-top: 200px;
	overflow: hidden;
	text-align: center;
}

.reveal_con img {
	position: absolute;
	width: 35%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.header__button {
	position: fixed;
	margin: 60px 50px;
	z-index: 200;
}

.header__nav {
	background-color: #c6e421;
	position: fixed;
	overflow: hidden;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 40px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	visibility: hidden;
	clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
}

.header__nav[data-active="true"] {
	visibility: visible;
}

.header__menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.header__menu > .header__menu-item {
	font-size: 12vh;
}

.header__menu > .header__menu-item:not(:last-of-type) {
	margin-bottom: 0em;
}

.header__menu-item a {
	letter-spacing: -4px;
	font-weight: 300 !important;
	color: #000;
	text-decoration: none;
	cursor: none;
}

/* Content CSS */

/* Content One */

.text-end {
	padding-right: 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: white;
	font-family: "Trud Type", Helvetica, sans-serif;
	margin-top: 500px;
	margin-bottom: 500px;
}

.text-end li {
	height: 4rem;
	display: flex;
	overflow: hidden;
	/* background-color: white; */
	margin-bottom: 0.5rem;
	justify-content: flex-end;
}

.text-end li span {
	display: block;
	line-height: 4rem;
	font-size: 3rem;
	text-transform: uppercase;
	transform: translateY(200%);
	margin: 0.05rem;
}

.text-end li span.active {
	transform: translateY(0%);
	transition: 1s ease-out;
}

.text-end li:hover {
	opacity: 0.5;
}


/* Content Two */

.text-start {
	padding-right: 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: white;
	font-family: "Trud Type", Helvetica, sans-serif;
	margin-bottom: 500px;
}

.text-start li {
	height: 4rem;
	display: flex;
	overflow: hidden;
	/* background-color: white; */
	margin-bottom: 0.5rem;
	justify-content: flex-start;
}

.text-start li span {
	display: block;
	line-height: 4rem;
	font-size: 3rem;
	text-transform: uppercase;
	transform: translateY(200%);
	margin: 0.05rem;
}

.text-start li span.active {
	transform: translateY(0%);
	transition: 1s ease-out;
}

.text-start li:hover {
	opacity: 0.5;
}

/* Content Three */

.text-end-two {
	padding-right: 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: white;
	font-family: "Trud Type", Helvetica, sans-serif;
	margin-bottom: 100px;
}

.text-end-two li {
	height: 4rem;
	display: flex;
	overflow: hidden;
	/* background-color: white; */
	margin-bottom: 0.5rem;
	justify-content: flex-end;
}

.text-end-two li span {
	display: block;
	line-height: 4rem;
	font-size: 3rem;
	text-transform: uppercase;
	transform: translateY(200%);
	margin: 0.05rem;
}

.text-end-two li span.active {
	transform: translateY(0%);
	transition: 1s ease-out;
}

.text-end-two li:hover {
	opacity: 0.5;
}

/* Content Work */

.text-email {
	padding-right: 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: white;
	font-family: "Trud Type", Helvetica, sans-serif;
	margin-bottom: 250px;
}

.text-email li {
	height: 4rem;
	display: flex;
	overflow: hidden;
	/* background-color: white; */
	margin-bottom: 0.5rem;
	justify-content: flex-end;
	z-index: 100;
}

.text-email li span {
	display: block;
	line-height: 4rem;
	font-size: 1.5rem;
	margin: 0.05rem;
}

.text-email li span a {
	text-decoration: none;
	color: white;
}

.text-email li:hover {
	opacity: 0.5;
}

/* Content Work */

.text-work {
	padding-right: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-family: "Trud Type", Helvetica, sans-serif;
	margin-bottom: 450px;
}

.text-work li {
	height: 4.5rem;
	display: flex;
	overflow: hidden;
	margin-bottom: 0.5rem;
	justify-content: center;
	z-index: 100;
}

.text-work li span {
	display: block;
	font-size: 5rem;
	text-transform: uppercase;
	margin: 0.05rem;
}

.text-work li span a {
	text-decoration: none;
	color: white;
	cursor: none;
}

.text-work li:hover {
	opacity: 0.5;
}

/* Content Footer */

.text-footer {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 20px 20px 20px 20px;
	overflow: hidden;
	font-family: "Trud Type", Helvetica, sans-serif;
	
  }
  
  .text-footer li {
	float: left;
  }
  
  .text-footer li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	z-index: 2;
  }

  .text-footer li:hover {
	opacity: 0.5;
}

/* hide content */

.hide-content-one {
    display: none;
    color: red;
}

.hide-content-two {
    display: none;
    color: red;
}

/* Responsive Media */

@media only screen and (max-width: 1028px) {
	.text-end li span,
	.text-start li span,
	.text-end-two li span {
		font-size: 2.5rem;
	}
}

@media only screen and (max-width: 872px) {
	.text-end li span,
	.text-start li span,
	.text-end-two li span {
		font-size: 2rem;
	}
	.text-end {
		margin-top: 300px;
	}
}

@media only screen and (max-width: 720px) {
	.container {
		height: 90vh;
	}
	.header__menu > .header__menu-item {
		font-size: 10vh;
	}
	.text-end li span,
	.text-start li span,
	.text-end-two li span {
		font-size: 1.7rem;
	}
	.text-end {
		margin-top: 200px;
	}
}

@media only screen and (max-width: 630px) {
	.container {
		height: 85vh;
	}
	.text-end li span,
	.text-start li span,
	.text-end-two li span {
		font-size: 1.5rem;
	}
	.text-end {
		margin-top: 150px;
	}
	.sp-wrapper {
		left: 35%;
	}
}

@media only screen and (max-width: 572px) {
	.container {
		height: 80vh;
	}
	.header__menu > .header__menu-item {
		font-size: 8vh;
	}
	.text-end li span,
	.text-start li span,
	.text-end-two li span {
		font-size: 1.25rem;
	}
	.text-end, .text-start, .text-work {
		margin-bottom: 350px;
	}
	.text-end {
		margin-top: 150px;
	}
}

@media only screen and (max-width: 495px) {
	.container {
		height: 75vh;
	}
	.header__menu > .header__menu-item {
		font-size: 7vh;
	}
	.text-end li span,
	.text-start li span,
	.text-end-two li span {
		font-size: 1rem;
	}
	.text-end, .text-start, .text-work {
		margin-bottom: 300px;
	}
	.text-end {
		margin-top: 140px;
	}
}

@media only screen and (max-width: 426px) {
	.container {
		height: 70vh;
	}
	.header__menu > .header__menu-item {
		font-size: 6vh;
	}
	.text-end li span,
	.text-start li span,
	.text-end-two li span {
		font-size: 0.9rem;
	}
	.text-end, .text-start, .text-work {
		margin-bottom: 270px;
	}
	.text-end {
		margin-top: 120px;
	}
	.sp-wrapper {
		left: 30%;
	}
}

@media only screen and (max-width: 397px) {
	.container {
		height: 65vh;
	}
	.header__menu > .header__menu-item {
		font-size: 5.5vh;
	}
	.text-end li span,
	.text-start li span,
	.text-end-two li span {
		font-size: 0.8rem;
	}
	.text-work li span {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 362px) {
	.container {
		height: 60vh;
	}
	.header__menu > .header__menu-item {
		font-size: 5vh;
	}
	.text-end li span,
	.text-start li span,
	.text-end-two li span {
		font-size: 0.7rem;
	}
}

@media only screen and (max-width: 330px) {
	.header__menu > .header__menu-item {
		font-size: 4.5vh;
	}
	.text-end li span,
	.text-start li span,
	.text-end-two li span {
		font-size: 0.6rem;
	}
	.text-work li span {
		font-size: 3.5rem;
	}
}